<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('css-link.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <title>Arnau478</title>
</head>
<body>
    <section id="">

    </section>
    <section id="languages" class="section-panel">
        <p class="section-panel-title">Programming languages</p>
        <p class="section-panel-description">All programming languages I know, and some projects I've made with them</p>
        <div class="section-panel-content">
            <div class="horizontal-array">
                <ul class="horizontal-array-list">
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <i class="fas fa-crown language-panel-crown"></i>
                            <img class="language-panel-img" src="/public/img/js.png" alt="JavaScript">
                            <p class="language-panel-name">JavaScript</p>
                        </div>
                    </li>
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <img class="language-panel-img" src="/public/img/css.png" alt="CSS">
                            <p class="language-panel-name">CSS</p>
                        </div>
                    </li>
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <img class="language-panel-img" src="/public/img/cs.png" alt="C#">
                            <p class="language-panel-name">C#</p>
                        </div>
                    </li>
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <img class="language-panel-img" src="/public/img/html.png" alt="HTML">
                            <p class="language-panel-name">HTML</p>
                        </div>
                    </li>
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <img class="language-panel-img" src="/public/img/java.png" alt="Java">
                            <p class="language-panel-name">Java</p>
                        </div>
                    </li>
                    <li class="horizontal-array-item">
                        <div class="language-panel">
                            <img class="language-panel-img" src="/public/img/py.png" alt="Python">
                            <p class="language-panel-name">Python</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
<script src="public/js/main.js"></script>
</html>